<div class=" animate__animated animate__bounceInRight">
    <h3>Buscar por region <small>{{ regionActiva }}</small></h3>
<hr>

</div>

<h5 class="animate__animated animate__fadeInUp animate animate__delay-1s">Selecciones la region</h5>

<div class="row animate__animated animate__fadeIn animate__delay-2s">
    <div class="col">
        <button *ngFor="let region of regiones"
            [class]="getclasesCss(region)"
            (click) = 'Activarregion (region)'
        >
            {{region | titlecase}}
        </button>
    </div>
</div>




<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>